# Системные файлы
.DS_Store
Thumbs.db

# IDE и редакторы кода
.vscode/
.idea/
*.iml

# Файлы сборки
/bin/
/pkg/

# Логи
*.log

# Конфигурационные файлы окружения
.env
.env.local

# Сгенерированные файлы
/dist/
/build/
